body {
  color: var(--cfs-gray-dark);
  font-family: $sans-serif;
  -moz-osx-font-smoothing: greyscale;
  -webkit-font-smoothing: antialiased;
}

.font-sans-serif {
  font-family: $sans-serif;
}

.font-serif {
  font-family: $serif;
}

h1,
.h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 1.5rem;

  @media screen and (max-width: $break-sm) {
    font-size: 28px;
    line-height: 32px;
  }
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
}

h2, .h2 {
  font-size: 26px;
  line-height: 30px;

  @media screen and (max-width: $break-sm) {
    font-size: 24px;
    line-height: 28px;
  }
}

h3, .h3 {
  font-size: 22px;
  line-height: 26px;

  @media screen and (max-width: $break-sm) {
    font-size: 20px;
    line-height: 24px;
  }
}

h4, .h4 {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  @media screen and (max-width: $break-sm) {
    font-size: 18px;
    line-height: 22px;
  }
}

p {
  font-size: 18px;
  line-height: 24px;
  max-width: 80ch;

  @media screen and (max-width: $break-sm) {
    line-height: 22px;
  }
}

.lead {
  // color: var(--cfs-gray-light);
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;

  @media screen and (max-width: $break-sm) {
    font-size: 20px;
    line-height: 24px;
  }
}

.text-center {

  p {
    margin-right: auto;
    margin-left: auto;
  }
}

.list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}


.intro {

  .lead {
    max-width: 60ch;
  }

  &.text-center {
    .lead {
      margin-right: auto;
      margin-left: auto;
    }
  }  
}